@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem;
}

.hello h1 {
    font-size: clamp(5rem, 35vw, 35rem);
    margin: 0;
    font-weight: 900;
    letter-spacing: -2px;
    background: rgb(251, 191, 36);
    background: linear-gradient(180deg, rgba(251, 191, 36, 1) 0%, rgba(239, 68, 81, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: '. links .';
}

.links {
    grid-area: links;
}

.links a {
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
}

.links a:first-of-type {
    margin-bottom: 2rem;
}

.personal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: '. photo photo . bio bio bio bio bio bio bio .';
    margin-top: 12rem;
}

.personal .pic {
    grid-area: photo;
    width: 100%;
}

.personal .bio {
    grid-area: bio;
    font-size: 3rem;
    margin: 0;
}

.articles {
    margin-top: 3rem;
}

.articles .title {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: '. latest latest latest latest latest latest latest latest . . .'
        '. . . . . articles articles articles articles articles articles articles';
}

.articles .title span {
    font-size: 10rem;
    font-weight: 900;
    margin: 0;
    line-height: 1;
}

.articles .title .latest {
    grid-area: latest;
}

.articles .title .articles {
    grid-area: articles;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
    grid-template-areas: 'latest latest latest'
        'post-1 post-2 link';
}

.posts .article {
    background: rgb(251, 191, 36);
    padding: 1rem;
    display: block;
    height: 200px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}

.posts .article:hover {
    background-color: black;
    text-decoration: none;
}

.posts .article:hover h2 {
    color: rgb(251, 191, 36);
    text-decoration: none;
}

.posts .article:nth-child(1) {
    grid-area: latest;
    height: 350px;
}

.posts .article:nth-child(2) {
    grid-area: post-1;
}

.posts .article:nth-child(3) {
    grid-area: post-2;
}

.posts .article.view-all {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

/* BLOG */
.blog-header {
    display: grid;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: rgb(251, 191, 36);
    margin-bottom: 5rem;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    max-width: 75rem;
    margin: auto;
}

.blog-entry {
    aspect-ratio: 9/10;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-entry img {
    width: 100%;
    aspect-ratio: 4/3;
}

.blog-entry h2 {
    color: black
}

/* Footer */
.footer {
    text-align: center;
    padding: 3rem 0 2rem;
    margin-top: 3rem;
    background-color: lightgray;
}

/* article */
.article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-size: cover;
    margin-bottom: 3rem;
    background: rgb(251, 191, 36);
}

.article-title .data {

    padding: 1rem 2rem;
    min-width: 50%;
    text-align: center;
}

.article-title h1 {
    font-size: 2rem;
}

.article-title h3 {
    font-weight: 300;
    margin-bottom: 2rem;
}

.article-container {
    max-width: 60rem;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.75;
}

.article-container img {
    width: 100%;
}

.article-container h2 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 2rem 0 1rem;
}